rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /loveScrolls/{scrollId} {
      allow read, write: if true;
    }

    match /coupleArcade/{docId} {
      allow read, write: if true;
    }

    match /watchParty/{docId} {
      allow read, write: if true;
    }

    match /coupleStatus/{docId} {
      allow read, write: if true;
    }

    match /timeCapsules/{capsuleId} {
      allow read, write: if true;
    }

    match /coupleCall/{docId} {
      allow read, write: if true;
    }
  }
}
